{% extends 'base.html.twig' %}

{% block body %}
    
     <section class="hero is-primary">
                  <div class="hero-body">
                    <div class="columns">
                      <div class="column is-12">
                        <div class="container content">
                          <i class="is-large fab fa-discord"></i>
                          <i class="is-large fas fa-code"></i>
                          <h1 class="title"><em>Ooh</em> edit </h1>
                          <h3 class="subtitle">
                           
                          </h3>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </section>          
  <div id="hrtop" class="hrtop"><div class="arf"></div><div class="progress" style="width: 0%;"></div></div>
  
  <header>
   
  
  
  </header>
  <h1>Annonce edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

  
   <div class="container">
          <div class="columns">
            <div class="column is-3">
              <aside class="is-medium menu">
           
            
                
              </aside>
            </div>
            <div class="column is-9">
              <div class="content is-medium">
                  


                    {% for annonce in annonce %}

                <div class="box">
                <h4 id="const" class="title is-3">
                <a href="{{ path('annonce_show', { 'id': annonce.id }) }}">
                  {{ annonce.titre }}
                  </a></h4>
                  <h5>{{ annonce.nomentreprise }}</h5>
                  <p>{{ annonce.lieu }}</p>
                  <article class="message is-primary">
                    <span class="icon has-text-primary">
                    <i class="fab fa-js"></i>
                    </span>
                    <div class="message-body">
                      {{ annonce.descriptif }}
                    </div>
                  </article>
                <pre><code class="language-javascript">{{ annonce.prix }}</code></pre>
              </div>
                      {% endfor %}

        </div>
      </div>
    </div>
  </div>
  </section>
 <footer class="footer">
  
  </footer>
{% endblock %}
