{% extends 'base.html.twig' %}

{% block body %}
  

    

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
    </ul>

     <section class="hero is-primary">
                  <div class="hero-body">
                    <div class="columns">
                      <div class="column is-12">
                        <div class="container content">
                          <i class="is-large fab fa-discord"></i>
                          <i class="is-large fas fa-code"></i>
                          <h1 class="title">Welcome </h1>
                          <h3 class="subtitle">
                           
                          </h3>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </section>          
  <div id="hrtop" class="hrtop"><div class="arf"></div><div class="progress" style="width: 0%;"></div></div>
  
  <header>
   
  
  
  </header>
  
   <div class="container">
          <div class="columns">
            <div class="column is-3">
              <aside class="is-medium menu">
           
            <ul class="menu-list"> 
              <li class="is-right"><a href="{{ path('annonce_new') }}" class="is-active"><i class="fab fa-css3-alt"></i> Create a new annonce</a></li>
            </ul>
               
              </aside>
            </div>
            <div class="column is-9">
              <div class="content is-medium">
                        <h3 class="title is-3">Simplify your life ! ¯\_(ツ)_/¯</h3>

         
                
        <div class="box">
          <h1 id="const" class="title is-3">Creation d'annonce </h1>
        {{ form_start(form) }}
        <h3>Titre de votre annonce</h3>
        {{ form_widget(form.titre, {'attr': {'class': 'message is-primary'} }) }}
        <h3>Nom Entreprise</h3>
        {{ form_widget(form.nomentreprise, {'attr': {'class': 'message is-primary'} }) }}
        <h3>Lieu</h3>
        {{ form_widget(form.lieu, {'attr': {'class': 'message is-primary'} }) }}
        <h3>descriptif de l'annonce</h3>
        {{ form_widget(form.descriptif, {'attr': {'class': 'message is-primary'} }) }}
        <h3>Salaire</h3>
        {{ form_widget(form.prix, {'attr': {'class': 'message is-primary'} }) }}

        <article class="message is-primary">
        <input type="submit" value="Create" />
        </article>
         {{ form_end(form) }}
         </div>
        </div>
      </div>
    </div>
  </div>
  </section>
 <footer class="footer">
 
  </footer>
{% endblock %}
